<!-- Edit -->
<link rel='stylesheet' href="/blocks/text/edit/css/text.css" />
<form>
    <input id='<%= i %>' type='text' value='<%= currBlock.content.body %>' />
    <a class='btn btn-success' onclick='postTextBlock("<%= i %>")'>Save Changes</a>
</form>