<!-- Edit -->
<link rel='stylesheet' href="/blocks/text/edit/css/text.css" />

<textarea class='textBlock_<%= i %>'><%= currBlock.content.body %></textarea>
<a class='btn btn-success' onclick='postTextBlock(this)'>Save Changes</a>