<link rel='stylesheet' href="/blocks/text/no-edit/css/text.css" />

<div class='block-text'>
     <textarea class='<%= currBlock.linkName %></textare>' onchange='postChanges(this)'><%= currBlock.content.body %></textarea>
</div>
<script>
    initEditor()
    tinymce.init({
        inline: true,
        selector: "textarea.block-content"
    });
</script>