#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#sortable li {
}
#sortable li arrows {
    position: absolute;
    margin-left: -1.3em;
}
#ajaxResult {
    position:fixed;
    top:90%;
    right:0%
}
#userNav-wrapper {
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.75);
    z-index:6;
    border-right: 1px solid #ddd;
}

#sideBarList {
    height: 100%;
    position: relative;    
    width:80px;
    list-style: none;
    padding: 0;
    margin: 70px 10px 0 10px;
}
.sideBarItem {
    height:10%;
    max-height:83px;
    min-height: 50px;
    line-height: 15px;
    position: relative;
    margin: 5px 0px 5px 5px
}

.edit-wrapper {
       
}

body {
    font-family: 'Gentium Book Basic', serif;   
}
header {
}

#banner {
    background-image: url('/templates/rustic-waterton/img/bg1.jpg');
    background-repeat: repeat-x;
    height: 260px;
    z-index:1;
}

.string-horiz {
    background-color: rgb(115,109,92);
    height: 1px;
    position:relative;
    top:50%;
    z-index:2;
}

#title-wrap {
    margin: 0px auto 0px auto;
    padding: 20px 0 0 0;
    background: url('/templates/rustic-waterton/img/title1.png') no-repeat center;
    background-size: 98%;
    text-align: center;
    height: 200px;
    width: 400px;
    position: relative;
    top: -107px;
    z-index:2;
}

#title-text {
    padding-top: 73px;
    text-align:center;
    max-width: 350px;
    max-height: 190px;
    margin: 0 auto 0 auto;
    z-index:3;
}

#nav-wrapper {
    background-color: rgb(115,109,92);
    background-repeat:repeat-x;
    width:100%;
    z-index:4;
}

.pull-center {
    text-align: center;
}
.pull-center > .nav {
    float:none;
    display:inline-block;
    *display: inline; *zoom: 1;
    height: 32px;
    
    font-size: 12pt;
    color: #ffffff;
}

#links {
    text-align:center;
    margin: 0 auto 0 auto;
    padding: 0;
    border-bottom: 1px solid #333;
    z-index:5;
}

.box-shadow-bottom:after {
    content:"";
    width: 100%;
    position: absolute;
    z-index: 9999;
    -webkit-box-shadow: 4px 2px 12px 3px #000000;
       -moz-box-shadow: 4px 2px 12px 3px #000000;
            box-shadow: 4px 2px 12px 3px #000000;
    z-index:3;
}

.box-shadow {
    content:"";
    width: 100%;
    position: absolute;
    z-index: 1;
    -webkit-box-shadow: 4px 2px 12px 3px #000000;
       -moz-box-shadow: 4px 2px 12px 3px #000000;
            box-shadow: 4px 2px 12px 3px #000000;
}

#footer-text {
    text-align:center;
    background-color: rgb(115,109,92);
    padding: 25px 0 35px 0;
}

#footer-stripe {
    position:relative;
    top: -28px;
    margin: 10px 0 0 0;
    height: 2px;
    background-color: white;
}

.odd {
    background-color: rgb(115,109,92);
}

.odd > .block-wrapper:before {
    padding-top:18px;
    border-top: 2px solid white;
    content:"";
    width: 100%;
    height: 35px;
    z-index: 3;
}

.odd > .block-wrapper {
    padding-top:11px;
}

.odd > .block-wrapper:after {
    border-bottom: 2px solid white;
    content:"";
    width: 100%;
    height: 35px;
    position: absolute;
    z-index: 3;
}

.even {
    background: url('/templates/rustic-waterton/img/bg1.jpg');
}

.affix {
    background-color: rgb(115,109,92);
    position: fixed;
    top: 0px;
    left: 0px;
}