<!-- Edit -->
<% for (var t=0; t<currBlock.imgs.length; t++) { %>
    <img src='<%= currBlock.imgs[t].filename %>'>
<% } %>
<form action='edit' enctype='multipart/form-data' method='post'>
    <input id='<%= i %>' type='file' name='inputImg'>
    <input type='hidden' name='blockIndex' value='<%= i %>'>
    <input type='submit' class='btn btn-success' value='Save Changes'>
</form>

<div class='modal-alert modal hide fade'>
  <div class='modal-header'>
    <button class='close' data-dismiss='modal'>x</button>
    <h3>Hello World</h3>
  </div>
  <div class='modal-body'><p></p></div>
  <div class='modal-footer'>
    <button id='ok' class='btn btn-warning' data-dismiss='modal'>OK</button>
  </div>  
</div>