body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #222222;
    font-size: 14pt;
    color: #ffffff;
}

#nav-wrapper {
    width:100%;
    min-height:70px;
}

#links {
    margin-left: 5%;
    margin-right: 5%;
}

#blocks-wrapper {
    width: 80%;
    min-width: 100px;
    height:auto;
    margin: 0px auto;
    border: 1px solid white;
}

.block {
    margin-top: 200px;
    margin-bottom: 200px;
}

.userNav {
    font-size:12pt;
    color:#3fa2a;
    margin: 0;
    background-color:rgba(255,255,255,0.3);    
}