@import url(http://fonts.googleapis.com/css?family=Montserrat:700,400);

#userNav-wrapper {
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0,0.3);
}

#sideBarList {
    height: 100%;
    position: relative;    
    width:105px;
    list-style: none;
    padding: 0;
    margin: 70px 10px 0 10px;
}
.sideBarItem {
    height:10%;
    max-height:83px;
    min-height: 50px;
    line-height: 15px;
    position: relative;
    margin: 5px 0px 5px 5px
}

#content-wrapper {
    margin-left:110px;
}

arrows {
 background-color:lightgray;   
}
#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#sortable li {
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.4em;
}
#sortable li arrows {
    position: absolute;
    margin-left: -1.3em;
}

.modal-body {
    height: 90%;
}

#ajaxResult {
    position:fixed;
    top:90%;
    right:0%
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    
    background: #354859;
    background: -moz-radial-gradient(center, ellipse cover, #354859 0%, #48647D 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #354859), color-stop(100%, #48647D));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #354859 0%, #48647D 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #354859 0%, #48647D 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #354859 0%, #48647D 100%);
    /* IE10+ */
    background: radial-gradient(center, ellipse cover, #354859 0%, #48647D 100%);
    
    font-family: 'montserrat', 'sans-serif';
    font-size: 14pt;
    font-weight: 400;
    color:#aaaaaa;
}

#nav-wrapper {
    width:100%;
    min-height:70px;
}

#links {
    margin-left: 5%;
    margin-right: 5%;
}

#blocks-wrapper {
    width: 90%;
    min-width: 300px;
    margin: 0px auto 0px auto;
    padding: 0;
}

.brand {
    
}

a {
    color:#aaa;
}

#my-apps-wrapper {
    margin-left: 10%;
    margin-right: 10%;
    padding: 2% 2% 2% 2%;
    background-color:rgba(100,100,100,1);
}

.guest-list {
    padding: 1% 1% 1% 1%;
    margin: 2% 2% 2% 2%;
    background-color:rgba(34,34,34,0.6);
    background-image:url('/apps/guest-list/img/icon.jpg');
    background-repeat:no-repeat;
    background-position:center;
    width: 180px;
    height: 180px;
    float:left;
}