<%
    var ejsGlobals = {};
    ejsGlobals.incStyles = ['/blocks/text/no-edit/css/text.css'] 
-%>
<% include ../../builders/styles %>
<div class='block-text'>
    <div><%- currBlock.content.body %></div>
</div>