<% 
    var ejsGlobals = {};
    ejsGlobals.incStyles = ['/vendor/bootstrap.min.css',
                            '/templates/home/css/login.css',
                            'http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css'
                           ];
    ejsGlobals.incScripts = ['/vendor/jquery.min.js',
                             '/vendor/jquery.form.js',
                             '/vendor/bootstrap-modal.js',
                             '/vendor/bootstrap-transitions.js',
                             '/templates/home/js/login.js',
                             '/js/controllers/login-controller.js', 
                             '/js/form-validators/loginValidator.js',
                             '/js/form-validators/emailValidator.js'];
-%>
<% include header %>
    <div id='login-container'>
        <form id='login-form' class='well span4' method='post'>
            <h1> NewlyWebs Registration </h1>
            <p class='subheading'>Please sign into your account</p>
            
            <label>Username</label>
            <input type='text' name='user' id='user-tf' class='span4 required'/>
            
            <label>Password</label>
            <input type='password' name='pass' id='pass-tf' class='span4 required'/>
            
            <button type='submit' id='btn-login' class='btn btn-primary'>
                <i class='icon-lock icon-white'></i>Sign In
            </button>
            
            <label id='remember-me' class='checkbox'>
                Remember Me
                <input type='checkbox' checked='checked'/>
            </label>
            
            <div class='clear-fix'></div>
            <hr>
            <div class='btm-links'>
                <a href='#' id='forgot-password'>Forgot Your Password?</a>
                <a href='/register' id='create-account'>Create An Account</a>
            </div>
        </form>
    </div>
    <% include modals/alert %>
    <% include modals/lost-password %>
<% include footer %>