<% 
    var ejsGlobals = {};
    ejsGlobals.incStyles = ['/vendor/bootstrap.min.css',
                            '/templates/home/css/register.css',
                            'http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css'
                           ];
    ejsGlobals.incScripts = ['/vendor/jquery.min.js',
                             '/vendor/jquery.form.js',
                             '/vendor/bootstrap-modal.js',
                             '/vendor/bootstrap-transitions.js',
                             '/templates/home/js/register.js', 
                             '/js/controllers/register-controller.js', 
                             '/js/form-validators/accountValidator.js', 
                             '/js/form-validators/loginValidator.js',
                             '/js/form-validators/emailValidator.js'];
-%>
<% include header %>

    <div id='account-form-container'>
        <form method='post' id='account-form' class='form-horizontal well span6h1'>
            <h3>Register To Get Your Site!</h3>
            <p id='sub1' class='subheading'>Please enter following information:</p>
            <hr>
            <fieldset>
                
                <div id='name-cg' class='control-group'>
                    <label class='control-label' for='name-tf'>Your Name </label>
                    <div class='controls'>
                        <input id='name-tf' class='input-xlarge' type='text' name='name' />
                    </div>
                </div>
                
                <div id='email-cg' class='control-group'>
                    <label class='control-label' for='email-tf'>Your Email </label>
                    <div class='controls'>
                        <input id='email-tf' class='input-xlarge' type='text' name='email' />
                    </div>
                </div>
                
                <div id='clist-cg' class='control-group'>
                    <label class='control-label' for='clist-tf'>Country </label>
                    <div class='controls'>
                        <select id='country-list' name='country'><% for (var i=0; i<countries.length; i++) { -%><option><%= countries[i].name %></option><% } %></select>
                    </div>
                </div>
                
                <hr>
            
                <div id='user-cg' class='control-group'>
                    <label class='control-label' for='user-tf'>Username </label>
                    <div class='controls'>
                        <input id='user-tf' class='input-xlarge disabled' type='text' name='user'>
                    </div>
                </div>
                <div id='pass-cg' class='control-group'>
                    <label class='control-label' for='pass-tf'>Password </label>
                    <div class='controls'>
                        <input id='pass-tf' class='input-xlarge disabled' type='password' name='pass'>
                    </div>
                    <div class='form-actions'></div>
                    <button type='button' id='account-form-btn1' class='btn'>Cancel</button>
                    <button type='submit' id='account-form-btn2' class='btn btn-success pull-right'>Submit</button>
                </div>
            </fieldset>
        </form>
    </div>
    <% include modals/form-errors %>
    <% include modals/alert %>
<% include footer %>