<%
    var ejsGlobals = {};
    ejsGlobals.incStyles = ['/blocks/text/no-edit/css/text.css'];
-%>
<% include ../../../builders/styles %>
<div class='inner-block-text'>
    <%- currBlock.content.body %>
</div>