#ajaxResult {
    position:fixed;
    top:90%;
    right:0%
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    
    background: #51357a;
    background: -moz-radial-gradient(center, ellipse cover, #51357a 0%, #333333 100%);
    /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #51357a), color-stop(100%, #333333));
    /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover, #51357a 0%, #333333 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover, #51357a 0%, #333333 100%);
    /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover, #51357a 0%, #333333 100%);
    /* IE10+ */
    background: radial-gradient(center, ellipse cover, #51357a 0%, #333333 100%);
    
    font-size: 14pt;
    color:orange;
}

#nav-wrapper {
    width:100%;
    min-height:70px;
}

#links {
    margin-left: 5%;
    margin-right: 5%;
}

#blocks-wrapper {
    width: 80%;
    min-width: 100px;
    height:auto;
    margin: 0px auto;
    border: 1px solid white;
}

.block {
}

a {
    color:#aaa;
}
.userNav {
    font-size:12pt;
    position:relative;
    float:left;
    margin: 10px 5px 10px 5px;
}

#my-apps-wrapper {
    margin-left: 10%;
    margin-right: 10%;
    padding: 2% 2% 2% 2%;
    background-color:rgba(100,100,100,1);
}

.guest-list {
    padding: 1% 1% 1% 1%;
    margin: 2% 2% 2% 2%;
    background-color:rgba(34,34,34,0.6);
    background-image:url('/apps/guest-list/img/icon.jpg');
    background-repeat:no-repeat;
    background-position:center;
    width: 180px;
    height: 180px;
    float:left;
}