<% for (var i = 0; i < site.blocks.length; i++) { -%>
    <% var currBlock = site.blocks[i] -%>
    <% if (currBlock.type == 'text') { -%>
        <div class='block-text' id='block<%= i %>'>
            <% include ../blocks/text/no-edit/text -%>
        </div>
    <% } -%>
    <% if (currBlock.type == 'gallery') { -%>
        <div class='block-gallery' id='block<%= i %>'>
            <% include ../blocks/gallery/no-edit/gallery -%>
        </div>
    <% } -%>
<% } -%>