<ul id="sortable">
    <% for (var i = 0; i < userData.site.blocks.length; i++) { -%>
        <% var currBlock = userData.site.blocks[i] -%>
        <% if (currBlock.type == 'text') { -%>
            <li class='block-text' id='block<%= i %>'>
                <arrows class="ui-icon ui-icon-arrowthick-2-n-s"></arrows>
                <% include ../blocks/text/edit/text -%>
            </li>
        <% } -%>
        <% if (currBlock.type == 'gallery') { -%>
            <li class='block-gallery' id='block<%= i %>'>
                <arrows class="ui-icon ui-icon-arrowthick-2-n-s"></arrows>
                <% include ../blocks/gallery/edit/gallery -%>
            </li>
        <% } -%>
    <% } -%>
</ul>