<% for (var i = 0; i < userData.site.blocks.length; i++) { -%>
    <% var currBlock = userData.site.blocks[i] -%>
    <% if (currBlock.type == 'text') { -%>
        <div class='block' id='block<%= i %>'>
            <% include ../blocks/edit/text -%>
        </div>
    <% } -%>
    <% if (currBlock.type == 'gallery') { -%>
        <div class='block' id='block<%= i %>'>
            <% include ../blocks/edit/gallery -%>
        </div>
    <% } -%>
<% } -%>