<link rel="stylesheet" href="/blocks/waterton/no-edit/css/blocks.css">
<div class="block1-wrapper container-fluid">
    <div id='block1-img-wrapper' class='span4 container-fluid'>
        <img src='<%= currBlock.content.img %>'></img>
    </div>
    <div id='block1-text-wrapper' class='span5 container-fluid'>
        <%- currBlock.content.body %>
    </div>
</div>