<link rel="stylesheet" href="/blocks/waterton/no-edit/css/blocks.css">
<div class="block-wrapper container-fluid">
    <div class='img-wrapper' class='container-fluid'>
        <img width="170px" height="230px" src='<%= currBlock.content.img %>'></img>
    </div>
    <div class='text-wrapper' class='container-fluid'>
        <%- currBlock.content.body %>
    </div>
</div>