<script src='/blocks/waterton/no-edit/js/maps.js'></script>

<div class="block2-wrapper container-fluid">
    <div id='block2-map-wrapper' class='span4 container-fluid'>
    </div>
    <div id='block2-text-wrapper' class='span5 container-fluid'>
        <div id='address'><%= currBlock.content.address %></div>
        <%- currBlock.content.body %>
    </div>
</div>