<!-- Edit -->
<% 
    var ejsGlobals = {};
    ejsGlobals.incStyles = ['/vendor/bootstrap.min.css',
                            '/templates/ultra/no-edit/css/ultra.css', 
                            'http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css',
                            '/blocks/text/no-edit/css/text.css',
                            '/blocks/gallery/no-edit/css/gallery.css'
                           ];
-%>
<% include header %>
    <div id='nav-wrapper' class='container-fluid'>
        <nav id='links' class='navbar navbar-fixed-top navbar-absolute'>
            <a class='brand' href='#'><%= userData.user %></a>
            <ul class='nav'>
                <% for (var i = 0; i < userData.site.blocks.length; i++) { -%>
                    <li>
                        <a href='#block<%= i %>'><%= userData.site.blocks[i].linkName %></a>
                    </li>
                <% } -%>
            </ul>
        </nav>
    </div>
    <div id='ajaxResult'></div>
    <section id='blocks-wrapper' class='container-fluid'>
        <% include ../../../builders/blocks %>
    </section>
<%
    ejsGlobals.incScripts = ['/vendor/jquery.min.js',
                             '/vendor/jquery.form.js'
                            ];
-%>
<% include footer %>
