<!DOCTYPE html>
<html>
    <head>
        <title><%= site.name %></title>
        <% incStyles = ['/vendor/bootstrap.min.css',
                        '/css/templates/basic.css',
                        'http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css'
                       ] %>
        <% include ../../builders/styles %>
    </head>
    <body>
        <div id='nav-wrapper' class='container-fluid'>
            <nav id='links' class='navbar navbar-fixed-top navbar-absolute'>
                <a class='brand' href='#'><%= site.name %></a>
                <ul class='nav pull-right'>
                    <% for (var i = 0; i < site.blocks.length; i++) { -%>
                        <li>
                            <a href='#block<%= i %>'>
                                <%= site.blocks[i].linkName %>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        </div>
        <section id='blocks-wrapper container-fluid'>
            <% include ../../builders/blocks %>
        </section>
            <% var incScripts = ['/vendor/jquery.min.js',
                                 '/vendor/jquery.form.js',
                                 '/vendor/bootstrap-modal.js',
                                 '/js/views/login.js', 
                                 '/js/controllers/login-controller.js', 
                                 '/js/form-validators/loginValidator.js',
                                 '/js/form-validators/emailValidator.js'] %>
            <% include ../../builders/scripts %>
    </body>
</html>